<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Root Config</title>
  <script src="https://cdn.jsdelivr.net/npm/regenerator-runtime@0.13.5/runtime.min.js"></script>
  <meta name="importmap-type" content="systemjs-importmap" />
  

  <% if (isLocal) { %>
  <script type="systemjs-importmap">
    {
      "imports": {
        "@sigrid/root-config": "//localhost:9000/sigrid-root-config.js",
        "@sigrid/app1": "//localhost:8080/js/app.js",
        "@sigrid/app2": "//localhost:8081/js/app.js"
      }
    }
  </script>
  <% } %>
  <!--  -->

  <% if (isLocal) { %>
  <script src="https://cdn.jsdelivr.net/npm/import-map-overrides@1.16.0/dist/import-map-overrides.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/systemjs@6.4.0/dist/system.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/systemjs@6.4.0/dist/extras/amd.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/systemjs@6.4.0/dist/extras/named-exports.js"></script>
  <% } else { %>
  <script src="https://cdn.jsdelivr.net/npm/import-map-overrides@1.16.0/dist/import-map-overrides.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/systemjs@6.4.0/dist/system.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/systemjs@6.4.0/dist/extras/amd.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/systemjs@6.4.0/dist/extras/named-exports.min.js"></script>
  <% } %>
</head>
<body>
  <main></main>
  <div style="position: relative; z-index: 99;">
    <a onclick="go('/')">应用1</a>
    <a onclick="go('/vue2')">应用2</a>
  </div>
    <script>

      // function a(){
      //   history.pushState({}, null, '/')
      // }
      // function b(){
      //   history.pushState({}, null, '/vue2')
      // }

      // // 监听浏览器的前进、后退（使用history.pushState或history.replaceState修改url不会触发popstate事件）
      // window.addEventListener('popstate', (event)=>{ 
      //     console.log('popstate', event)
      // })

      // window.addEventListener('hashchange',(event)=>{  // window.onhashchange=(event)=>{}
      //   console.log('old url', event)
      // })

  </script>
  <script>
   const aa = System.import('@sigrid/root-config');
    console.log(aa)
    // const aa = System.import("http://localhost:8080/js/app.js")
    // aa.then(res=>{
    //   console.log(res)
    // })

  </script>
  <import-map-overrides-full show-when-local-storage="devtools" dev-libs></import-map-overrides-full>
</body>
</html>
